body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    margin:20px;
}

h1{
    text-align:center;
}

#productos{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.tarjeta{
    width:250px;
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

.tarjeta img{
    width:100%;
}

button{
    width:100%;
    padding:10px;
    background:green;
    color:white;
    border:none;
    cursor:pointer;
}